* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0a0a0a;
  color: #fff;
      background-image: url("backimage.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    
}
header {
  width: 100%;
  padding: 20px 100px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 90px;
  font-weight: bold;
  color:mediumspringgreen;

}
.logo span {
  color: #00adb5;
}
.nav-links {
  list-style: none;
  display: flex;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 37px;
  transition: 0.3s;
}
.nav-links a.active {
  color: #00adb5;
  border-bottom: 2px solid #00adb5;
}
.nav-links a:hover {
  color: #00adb5;
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  color: rgb(97, 2, 2);
  padding: 60px 10%;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.img-box {
  flex: 1 1 350px;
  display: flex;
  justify-content: center;
}
.home-content {
  flex: 1 1 450px;
  margin-top: 10%; 
  margin-right: 7%;
}
.home-content h1 {
  font-size: 100px;
  margin: 15px 0;
}
.highlight {
  color: black;
}
.home-content p {
  margin: 20px 0;
  font-size: 40px;
  line-height: 1.6;
  color: black;
}
.icon-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #00adb5;
  color: #00adb5;
  font-size: xx-large;
  text-decoration: none;
  transition: all 0.3s ease;
  background: transparent;
}
.icon-btn:hover {
  background: #00adb5;
  color: rgb(97, 2, 2);
  box-shadow: 0 0 15px rgba(0, 173, 181, 0.6);
  transform: scale(1.1);
}
.icon-btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  background: #00adb5;
  color: rgb(97, 2, 2);
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 5px;
  top: 80%;
  transform: translateY(8px);
  white-space: nowrap;
  opacity: 0.7;
}
@media (max-width: 900px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }
 .img-box img {
    width: 260px;
    height: 260px;
  }
  .icon-buttons {
    justify-content: center;
  }
}

.img-box {
  opacity: 0;
  transform: translateX(-100px);
  animation: imgSlide 1.2s ease-out forwards;
}

.home-content {
  opacity: 0;
  transform: translateX(100px);
  animation: textSlide 1.2s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes imgSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about {
  padding: 90px 80px;
  text-align: center;
}
.about h2 {
  color: black;
  font-size: 70px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about p {
  display: inline-block;
  border-radius: 10px;
  padding: 50px 60px;
  max-width: 1500px;
  background: transparent;
  color:black;
  font-size: 55px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about p:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 173, 181, 0.6);
}
h2 {
  color: #00adb5;
  font-size: 70px;  
  margin-bottom: 20px;
}
p {
  font-size: 36px; 
  line-height: 1.0;
  color: black;
}

.contact {
  padding: 80px 40px;
  color: black;
}

.contact h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 55px;
  color: black;
}

.contact-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
}

/* IMAGES */
.contact-image img,
.contact-details img {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  font-size: 55px;
}

/* FORM */
.contact-form {
  width: 100%;
  max-width: 500px;
  max-height: 200px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  max-height: 100px;
  outline: none;
  background-color: grey;
  color: black;
  font-size: xx-large;
}

.btn {
  padding: 12px;
  width: 100%;
  height: 60px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
  color: black;
}

/* ADDRESS */
.contact-details p {
  margin-top: 35px;
  line-height: 1.5;
  margin-right: 85px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

footer {
  color:black;
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
  position: relative;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
footer:hover {
  color: #00adb5;
  text-shadow: 0 0 15px #00adb5;
}